<ion-content [fullscreen]="true">
  <div id="contenedor">
    <div class="title-container">
      <div class="title">Te llevo APP</div>
        <ion-icon id="volver" name="arrow-back-outline" (click)="volverPaginaAnterior()">
        </ion-icon>
    </div>
    <div class="historial-item">
      <div class="historial-info">
        <div class="historial-label">Conductor: </div>
        <div class="historial-value">Tomas Alvares</div>
      </div>
      <div class="historial-info">
        <div class="historial-label">Dirección: </div>
        <div class="historial-value">Dirección del Viaje Que pasa si pongo un texto muy laergg 1</div>
      </div>
      <div class="historial-info">
        <div class="historial-label">Precio: </div>
        <div class="historial-value">$20.00</div>
      </div>
      <div class="historial-info">
        <div class="historial-label">Valoración: </div>
        <div class="historial-value">4/5</div>
      </div>
      <div class="historial-info">
        <div class="historial-label">Fecha: </div>
        <div class="historial-value">01/01/2023</div>
      </div>
    </div>

    <div class="historial-item">
      <div class="historial-info">
        <div class="historial-label">Conductor: </div>
        <div class="historial-value">Joel leal</div>
      </div>
      <div class="historial-info">
        <div class="historial-label">Dirección: </div>
        <div class="historial-value">Melipilla</div>
      </div>
      <div class="historial-info">
        <div class="historial-label">Precio: </div>
        <div class="historial-value">$20.00</div>
      </div>
      <div class="historial-info">
        <div class="historial-label">Valoración: </div>
        <div class="historial-value">4/5</div>
      </div>
      <div class="historial-info">
        <div class="historial-label">Fecha: </div>
        <div class="historial-value">02/01/2023</div>
      </div>
    </div>
  </div>

  
</ion-content>