<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">

  <header>
    <div class="circulo"></div>
  </header>

  <section class="login">
    <div class="login-box">
      <div class="saludo-login">
        <h1>Bienvenido</h1>
        <h4>Por favor inicia tu sesion</h4>
      </div>
      <div class="form-login">
        <label for="Usuario">Usuario</label>
        <div class="input-wrapper">
          <input class="int" type="text" label="Usuario" placeholder="">
          <ion-icon class="icon" name="person-outline"></ion-icon>
        </div>
        <label for="Contraseña">Contraseña</label>
        <div class="input-wrapper">
          <input class="int" type="password" label="Contraseña" labelPlacement="floating" placeholder="">
          <ion-icon class="icon" name="lock-closed-outline"></ion-icon>
        </div>
        <ion-button class="btn" expand="block" routerLink="/home">Iniciar Sesion</ion-button>
        <div class="olvidaste">
          <a href="">Olvidaste tu Contraseña?</a>
        </div>
      </div>
    </div>
  </section>


</ion-content>